---
import Analytics from "../components/Analytics.astro";
import Welcome from "../components/Welcome.astro";
import Main from "../layouts/Main.astro";
---

<Main
  content={{
    title: "Hi I’m Alex",
  }}
>
  <Welcome />
  <Analytics hostname="connect.alex-xo.com" id="b86fca64-00e5-4084-a766-6870a0644bc1" />
</Main>
