---
import homeBackground from "../assets/home.svg";
---

<div class="flex justify-center items-center h-screen w-full">
  <img
    src={homeBackground.src}
    alt=""
    fetchpriority="high"
    class="fixed inset-0 w-full h-full -z-10"
  />
  <main
    class="flex flex-col md:flex-row justify-center items-center md:items-start w-4/5 max-w-2xl gap-4 font-sans"
  >
    <header class="flex">
      <h1 class="m-0 text-6xl text-center md:text-right text-stone-600">Hi, I’m Alex</h1>
    </header>
    <section class="pt-8 md:pt-16 flex">
      <div class="bg-amber-200 py-6 px-8 space-y-4 shadow-lg">
        <h3 class="text-xs text-stone-600 text-center tracking-widest">CONTACT ME</h3>
        <ul class="list-none space-x-2 flex flex-column text-md text-stone-600 -ml-2">
          <li>
            <a href="https://github.com/AnalogMemory" target="_blank" class="fancy-link">GitHub</a>
          </li>
          <li>
            <a href="mailto:hi@alex-xo.com" target="_blank" class="fancy-link">Email</a>
          </li>
        </ul>
        <div class="w-full text-center text-xl">🪴</div>
      </div>
    </section>
  </main>
</div>
